@import url(variables.css);
body {
  height: 90vh;
  width: 90vw;
  display:grid;
  grid-template-columns: 1fr 5fr 7fr 5fr;
  
  grid-gap: 1em;
}
.S1,.S2,.S3,.S4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1em;
}
.S1A2,.S2A2,.S2A4,.S3A2,.S4A2{
  flex-grow: 1;
}

@media screen and (max-width:600px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
  } 
  .visibility{
    display: none;
  }
}


article{
  background-color: #010;
}
section{
  background-color: #bbb;
}
div{
  background-color: #010;
}
