@import url(variables.css);

body {
  height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 5fr 7fr 5fr;

  grid-gap: 1em;
}

.S1,
.S2,
.S3,
.S4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1em;
}

.S1A2,
.S3A2,
.S4A2 {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

@media screen and (max-width:600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
  }

  .visibility {
    display: none;
  }
}

/* elementos visuales para disinguir los diferntes segmentos de la paguina */
article {
  background-color: #466b46;
}

section {
  background-color: #b9a2a2;
}

div {
  background-color: #010;
}